<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
Runner’s Dream Web Shop is an e-commerce web application which has everything what a runner might need from beginner to the professional level.
</p>
<p>
Myself as an experienced long distance runner I want to help other athletes to provide them quality equipment what I would suggest in order to enjoy running.
</p>
<p>
Selection of the products have the best quality-price ratio, made from most experienced manufacturers. I give detailed information, recommendation for all the customers to help them to select the best for her/himself.
</p>
<p>
Runner’s Dream Web Shop wants to provide everything (footwear, clothing, spikes, accessories) for customers and makes running enjoyable. My philosophy is ‘Mankind is made for running’
</p>
<h2>Contact information</h2>
<p>Diana Viktor</p>
<p>email: <a href="mailto:x16113659@student.ncirl.ie">x16113659@student.ncirl.ie</a></p>
