<% provide(:title, "Help") %>

<h1>Runner’s Dream Web Shop</h1>
<p>Server Side Development Project</p>
<p>Version: 1.0.0-20171202</p>

<h1>Contact information</h1>
<p>Diana Viktor</p>
<p>email: <a href="mailto:x16113659@student.ncirl.ie">x16113659@student.ncirl.ie</a></p>
