<h1>Thank You</h1>

<p>Your order has been paid and confirmed. Order reference Id: <%= @order.id %></p>
<p>The order is in <mark>Paid</mark> state, and your order will be dispatched and shipped soon.</p>
<p>There is also a money payback guarantee, or you can get full refund if you change your mind in 30 days followed by the purchase.</p>
<p>If you are satisfied with our service and the product you order don't miss to give us a good feedback on social media.</p>

<%= render 'orders/orderdetails' %>