<%= render 'items/header' %>

<% if @items.empty? %>
  <p align="center"><em>There are currently no products in this category</em></p>
<% end %>

<%= render 'items/catalog' %>

<% if session[:login] == 1 then %>
  <%= link_to 'New Item', new_item_path %>
<% end %>
