<%= render 'items/header' %>

<% if @items.empty? %>
  <p align="center"><em>There are currently no products with discount price</em></p>
<% end %>

<%= render 'items/catalog' %>

<% if current_user.try(:admin?) %>
  <%= link_to 'New Item', new_item_path, :class => "btn btn-danger", :role => "button" %>
<% end %>
