<% if current_user.try(:admin?) %>

    <h1>Editing Item</h1>
    
    <%= render 'form', item: @item %>
    
    <%= link_to 'Show', @item, :class => "btn btn-danger", :role => "button" %>
    <%= link_to 'Back', items_path, :class => "btn btn-danger", :role => "button" %>
<% end %>